@import '../common';



.hero {
  background: url('/app/images/09.jpg') no-repeat;
  background-size: cover; 
  height: 50rem;
  padding: 3rem;
  display: block;
  
  * {
    color: $lightTextColor;
  }
}
